form {
padding: 15px 0;
float: right; }


	.rightpic {
		float: center;

		margin: 0 0 5px 5px;
	}

	.h30 {
		font-weight: bold;
		color: #A0A0A0FF;
		font-size: 35 ;
			text-align: center;
	} 

	.header-botton {
		margin-left: 5px;
		color: black;
		font-size: 25px;
		margin-bottom: 60px;
	}

	.work-botton{
		padding: 50px;
		background-color: white ;
		

	}
	.durk-botton{
		width: 1200px;

	 		display: inline-block;
	 		border-radius: 15px;
	 		text-align: left;
		color: black;
		float: right;
		font-size: 20px;
		
	}
	

		
		
	
	 .denk-botton a {
	 	padding: 30px 20px;
	 	float: left;
	 	color: white;
	 	display: block;
	 
	 }
	 .dinj-botton {
	 	height: 300px;
	 	width: 300px;


	 }
	 .dyny-botton{
	 	padding: 50px;
	 	background: black;
		 float: left;
	 	padding: 20px;
	 	background: white;

	 }
	 .factory-blues {
	 	font-size: 30px;
	 	}

	 	.factore-black{
	 		font-family: Comic Sans Ms;
	 		line-height: 1.3em;
	 		margin-bottom: 0px;
	 		width: 1300px;
	 		display: inline-block;
	 		border-radius: 15px;
	 		text-align: right;
	 		margin-top: 0.1em;
	 		font-size: 35px;

	 	}
	 	.inline-img{
	 		width: 250px;
	 		display: inline-block;
	 		border-radius: 15px;
	 		text-align: right;
	 	}

	 	.first-block{
	 		margin-bottom: 60px;

	 	}
	 	.second-block{ 
	 		margin-bottom: 60px;

	 	}

	 	.three-block{
	 		margin-bottom: 60px;

	 	}

	 	.four-block{
	 		margin-bottom: 60px;

	 	}

	 	.five-block{
	 		margin-bottom: 60px;

	 	}

	 	.six-block{
	 		margin-bottom: 60px;

	 	}


	 	.seven-block{
	 		margin-bottom: 60px;



	 	}




